.App {
  margin: 2rem;
}

.header {
  text-align: center;
}
.header > img {
  height: 60px;
}

.float-right {
  overflow: auto;
  margin-bottom: 2rem;
}
.float-right > div {
  float: right;
}

.datatable-responsive-demo
  .p-datatable-responsive-demo
  .p-datatable-tbody
  > tr
  > td
  .p-column-title {
  display: none;
}

@media screen and (max-width: 40em) {
  #toastMsg {
    display: none;
  }

  #dialog {
    width: 100% !important;
  }

  .datatable-responsive-demo
    .p-datatable.p-datatable-responsive-demo
    .p-datatable-thead
    > tr
    > th,
  .datatable-responsive-demo
    .p-datatable.p-datatable-responsive-demo
    .p-datatable-tfoot
    > tr
    > td {
    display: none !important;
  }

  .datatable-responsive-demo
    .p-datatable.p-datatable-responsive-demo
    .p-datatable-tbody
    > tr
    > td {
    text-align: left;
    display: block;
    width: 100%;
    float: left;
    clear: left;
    border: 0 none;
    white-space: nowrap;
  }

  .datatable-responsive-demo
    .p-datatable.p-datatable-responsive-demo
    .p-datatable-tbody
    > tr
    > td
    .p-column-title {
    padding: 0.4rem;
    min-width: 50%;
    display: inline-block;
    margin: -0.4em 1em -0.4em -0.4rem;
    font-weight: bold;
  }

  .datatable-responsive-demo
    .p-datatable.p-datatable-responsive-demo
    .p-datatable-tbody
    > tr
    > td:last-child {
    border-bottom: 1px solid var(--surface-d);
  }
}

.customer-badge.status-Success {
  background-color: #c8e6c9;
  color: #256029;
  padding: 8px;
  text-align: center;
  border-radius: 20px;
}

.customer-badge.status-Failure {
  background-color: #ffcdd2;
  color: #c63737;
  padding: 8px;
  text-align: center;
  border-radius: 20px;
}

.customer-badge.status-Upcoming {
  background-color: #b3e5fc;
  color: #23547b;
  padding: 8px;
  text-align: center;
  border-radius: 20px;
}

.overlaypanel-demo .select-product-button {
  min-width: 15rem;
  position: relative;
  right: 5rem;
}

.p-overlaypanel .p-overlaypanel-content {
  padding: 0 !important;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.filter-list > li {
  padding: 3px;
  cursor: pointer;
}
.filter-list > li > p {
  text-align: left;
  margin: 0 15px 0 0;
  padding: 5px;
}
.filter-list > li:hover {
  background: #d3d3d3;
}

.p-paginator.p-component.p-paginator-bottom {
  float: right;
}

.p-dialog .p-dialog-header {
  padding: 8px 20px 8px 20px !important;
}

.dialog-list-item {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
}
.dialog-list-item:last-child {
  border-bottom: none;
}
.dialog-list-item > p {
  width: 200px;
  text-align: left;
}
